// Import Font dari google
@import 'https://fonts.googleapis.com/css?family=Lato:400,700'

// Variabel Warna
$primaryColor: #FF5500
$blackColor: #1f1f1f

// Menghapus seluruh space halaman
*
    margin: 0
    padding: 0

body
    // border: 2px solid black
    font-family: 'Lato', sans-serif
    
    // Membuat posisi element body mengisi seluruh space halaman
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

    .main-section
        // border: 2px solid blue
        height: 100%

        .bg-color
            background-color: $blackColor

        .hero-img
            // border: 1px solid red
            height: 90%
            background-image: url('../images/hero-image.jpg')
            background-repeat: no-repeat
            background-size: cover
            background-position: top right
            display: flex
            align-items: center
            
            header
                display: flex
                flex-direction: column
                align-items: center
                border-radius: 5px
                width: 100%
                background-color: #30303075
                padding: 2%
                color: white
                text-transform: uppercase

                h1
                    font-size: 50px
                    font-weight: bold
                
                p
                    font-size: inherit

        footer
            // border: 1px solid green
            background-color: $blackColor
            padding: 20px 0

            .illustrator-link
                // border: 1px solid yellow
                padding: 5px 0
                display: flex
                justify-content: center
                color: white

                p 
                    margin: 0
                    padding: 0

                a 
                    color: white
                    font-weight: bold

            .profile-link
                // border: 1px solid violet
                padding: 5px 0
                display: flex
                flex-direction: column
                align-items: center

                a
                    text-decoration: none
                    color: white

                img
                    max-width: 100%
                    width: 32px
                    height: auto
