@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Lato, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body .main-section {
  height: 100%;
}
body .main-section .bg-color {
  background-color: #1f1f1f;
}
body .main-section .logo-position {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .main-section .logo-position h2 {
  display: none;
  margin: 0 10px;
  padding: 0;
  font-weight: bold;
}
body .main-section .hero-img {
  margin-top: 75px;
  height: 50%;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  display: flex;
  align-items: center;
}
body .main-section .hero-img .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #30303065;
  padding: 4%;
  color: white;
  text-transform: uppercase;
}
body .main-section .hero-img .hero-text h2 {
  font-size: 50px;
  font-weight: bold;
}
body .main-section .hero-img .hero-text p {
  font-size: inherit;
}
body .main-section #booking-section {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .main-section #booking-section h2 {
  font-weight: bold;
}
body .main-section #booking-section #form {
  width: 90%;
  box-sizing: border-box;
}
body .main-section #booking-section #form span {
  color: red;
}
body .main-section #booking-section #form #email {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}
body .main-section #booking-section #form .submit-box {
  display: flex;
  justify-content: center;
}
body .main-section #booking-section #form .submit-box #submit {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #1f1f1f;
  color: white;
}
body .main-section #booking-section #form .submit-box #submit:hover {
  background-color: #353535;
}
body .main-section .wives-section {
  background-color: white;
}
body .main-section .wives-section .wives {
  max-width: 100%;
  height: auto;
}
body .main-section #features-section {
  background-color: #1f1f1f;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "feature1" "feature2" "feature3" "feature4";
}
body .main-section #features-section .f-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: white;
}
body .main-section #features-section .f-box p {
  margin: 0;
  padding: 0 20px;
  text-align: center;
}
body .main-section #features-section .feature-icons {
  max-width: 100%;
  width: 60px;
  height: auto;
}
body .main-section #features-section .feature-box1 {
  grid-area: feature1;
}
body .main-section #features-section .feature-box2 {
  grid-area: feature2;
}
body .main-section #features-section .feature-box3 {
  grid-area: feature3;
}
body .main-section #features-section .feature-box4 {
  grid-area: feature4;
}
body .main-section #video-section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-section #video-section h2 {
  font-weight: bold;
}
body .main-section #video-section #video {
  max-width: 620px;
  width: 100%;
}
body .main-section #pricing-section {
  background-color: #1f1f1f;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "pricing1" "pricing2" "pricing3";
  grid-row-gap: 10px;
}
body .main-section #pricing-section .pricing-box {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .main-section #pricing-section .pricing-box img {
  max-width: 100%;
  width: 460px;
  height: auto;
}
body .main-section #pricing-section .pricing-box h2 {
  margin: 10px 0;
}
body .main-section #pricing-section .pricing-box h2, body .main-section #pricing-section .pricing-box p {
  padding: 0 10px;
}
body .main-section #pricing-section .pricing-box-1 {
  grid-area: pricing1;
}
body .main-section #pricing-section .pricing-box-2 {
  grid-area: pricing2;
}
body .main-section #pricing-section .pricing-box-3 {
  grid-area: pricing3;
}
body .main-section #about-section {
  margin: 40px auto;
  padding: 0 20px;
  height: 30%;
  text-align: center;
}
body .main-section #about-section h2 {
  font-weight: bold;
}
body .main-section footer {
  border-top: 1px solid #acacac;
  background-color: white;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 20px;
}
body .main-section footer .illustrator-link {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  color: #1f1f1f;
}
body .main-section footer .illustrator-link p {
  margin: 0;
  padding: 0;
}
body .main-section footer .illustrator-link a {
  color: #1f1f1f;
  font-weight: bold;
}
body .main-section footer .profile-link {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-section footer .profile-link a {
  text-decoration: none;
  color: #1f1f1f;
}
body .main-section footer .profile-link img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1000px) {
  body .main-section .logo-position h2 {
    display: block;
  }
  body .main-section .hero-img {
    height: 90%;
  }
  body .main-section .hero-img .hero-text {
    align-items: flex-start;
  }
  body .main-section .waves {
    max-width: 100%;
    height: auto;
  }
  body .main-section #booking-section #form {
    width: 60%;
  }
  body .main-section #booking-section #form .submit-box #submit {
    width: 150px;
  }
  body .main-section #features-section {
    grid-template-rows: auto;
    grid-template-colums: repeat(auto-fit, 1fr);
    grid-template-areas: "feature1 feature2 feature3 feature4";
  }
  body .main-section #features-section .f-box p {
    text-align: center;
  }
  body .main-section #pricing-section {
    padding: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "pricing1 pricing2 pricing3";
    grid-row-gap: 0;
    grid-column-gap: 20px;
  }
  body .main-section #pricing-section .pricing-box h2, body .main-section #pricing-section .pricing-box p {
    padding: 0 20px;
  }
  body .main-section #about-section {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  body .main-section #about-section p {
    text-align: justify;
  }
}
@media (min-width: 425px) and (max-width: 999px) {
  body .main-section .logo-position h2 {
    display: block;
  }
  body .main-section .hero-img {
    height: 90%;
  }
  body .main-section .hero-img .hero-text {
    align-items: flex-start;
  }
  body .main-section #booking-section #form {
    width: 70%;
  }
  body .main-section #pricing-section .pricing-box h2, body .main-section #pricing-section .pricing-box p {
    padding: 0 40px;
  }
}

/*# sourceMappingURL=style.css.map */
